@font-face {
  font-family: "iconfont"; /* Project id 3838900 */
  src: url('iconfont.woff2?t=1671973961763') format('woff2'),
       url('iconfont.woff?t=1671973961763') format('woff'),
       url('iconfont.ttf?t=1671973961763') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-gouwuche:before {
  content: "\e899";
}

.icon-wode:before {
  content: "\e62f";
}

.icon-fenlei:before {
  content: "\e811";
}

.icon-quanbu:before {
  content: "\e600";
}

.icon-gouwucheman:before {
  content: "\e601";
}

.icon-shengxianshuiguo:before {
  content: "\e602";
}

.icon-shengqian:before {
  content: "\e690";
}

.icon-zhisongdaojia:before {
  content: "\e64e";
}

.icon-pintuangou:before {
  content: "\e635";
}

.icon-youhuijuan-xianxing:before {
  content: "\e898";
}

.icon-quanqiugou:before {
  content: "\e6ee";
}

.icon-fushi:before {
  content: "\e7ec";
}

.icon-jiaofei:before {
  content: "\f701";
}

